body {
    background-color:#262626;
     
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color:#000;
    margin: 0;
    padding: 0;
}

  .introduction-heading{

    position: absolute;
    top:10%;
    width: 100%;
    text-align: center;
    color: #f44336;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;

  }

 

  .swiper-container {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 50px;
    
    

  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 450px;
    background: #fff;
    
  }

  .swiper-slide .imgBx
{
  width:100%;
  height:355px;
  overflow: hidden;
} 


.swiper-slide .imgBx img
  {
    width:100%;
  }

  .swiper-slide .details
  {
    box-sizing: border-box;
    padding: 20px;
  }
  .swiper-slide .details h3
  {
     margin: 0;
     padding: 0;
     font-size: 20px;
     text-align: center;
     line-height: 20px;
  }
.swiper-slide .details h3 span{
  font-size: 16px;
  color:#f44336;
}